MONGO_URI=mongodb+srv://infozodex_db_user:absolutions@data.yycywiw.mongodb.net/ankitdatabaseMatka
JWT_SECRET=c2f9d8a7b6e54193a8f4c1d9e7b2f5a6d3c8e1f4b9a7d2c6e5f8a1b3d9c7e4f2
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
CORS_ORIGINS=https://game.natraj777.com,https://api.natraj777.com,https://natraj777.com,https://www.natraj777.com,http://localhost:5173,http://127.0.0.1:5173
